@use "@/styles/colors" as *;

.burger {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // height: 50px;
  width: 50px;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  .line,
  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 8px 0;
    background-color: $color-main;
    transition: all 0.3s ease-in-out;
  }

  &.isOpen {
    &::before {
      transform: translateY(10px);
    }

    &::after {
      transform: translateY(-10px);
    }
  }
}
