@use "@/styles/colors" as *;

.menu {
  display: flex;
  justify-content: space-between;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 1.75em;
}

.listItem {
  display: flex;
  align-items: center;
}

.link {
  vertical-align: middle;
  text-decoration: none;
  font-weight: 500;
  color: $color-main--inactive;

  &.isActive {
    color: $color-main;
  }
}
