@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.carousel {
  overflow: visible;
}

.slide {
  max-width: $card-width;
  height: $card-width * 0.67;
}

.cardLink {
  display: inline-block;
  text-decoration: none;

  transition: transform 0.2s ease-in;

  @include hover-supported {
    &:hover {
      transform: translate(0, -0.5rem);
    }
  }
}

.card {
  width: 100%;
  height: 100%;
  border-radius: $corner-radius--m;
  overflow: hidden;
  box-shadow: $shadow;
  border: $border;
}

.cardImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
