@use "scss/scss-variables" as *;

.topbar {
  position: fixed;
  top: 0;
  z-index: $zindex-topbar;
  width: 100%;
  height: var(--height-topbar);
  background-color: var(--color-bg-main);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__logo {
    color: var(--color-main);
  }
}
