$color-accent-1: #283b8b;
$color-main: #242424;
$color-main--muted: #8e8e8e;
// $color-main-bg: rgba(255, 255, 255, 0.87);
$color-main-bg: rgba(255, 255, 255);

$gradient-placeholder: #efd5ff linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
// radial-gradient(90deg, #efd5ff 0%, #515ada 100%);
