$color-accent-100: #f5f3fe;
// $color-accent-100: #cfc7ee;
$color-accent-200: #bdb0ed;
$color-accent-300: #a08ede;
$color-accent-400: #7e74f1;
// $color-accent-400: #8a74db;
$color-accent-500: #7258d2;
$color-accent-600: #563bb8;
$color-accent-700: #3e22a2;
// $color-accent-700: #2718c2;
$color-accent-1: #3498db;
$color-accent-2: #52be80;
$color-accent-3: #f7dc6f;
$color-main: #242424;
$color-main--inactive: #5c5c5c;
$color-main--muted: #8e8e8e;
// $color-main-bg: rgba(255, 255, 255, 0.87);
$color-main-bg: rgba(255, 255, 255);
$color-white: #ffffff;
$color-border: #d1cfcf;

$gradient-placeholder: #efd5ff linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
// radial-gradient(90deg, #efd5ff 0%, #515ada 100%);
