$color-accent-1: #3498db;
$color-accent-2: #52be80;
$color-accent-3: #f7dc6f;
$color-main: #242424;
$color-main--inactive: #5c5c5c;
$color-main--muted: #8e8e8e;
// $color-main-bg: rgba(255, 255, 255, 0.87);
$color-main-bg: rgba(255, 255, 255);

$gradient-placeholder: #efd5ff linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
// radial-gradient(90deg, #efd5ff 0%, #515ada 100%);
