// Spacing

$padding--xxs: 0.25em;
$padding--xs: 0.5em;
$padding--s: 1em;
$padding--m: 2em;
$padding--l: 3em;

$gap--s: 1rem;
$gap--m: 2rem;
$gap--l: 3rem;

// Sizes

$corner-radius--xs: 0.5rem;
$corner-radius--s: 0.75rem;
$corner-radius--m: 1rem;
$card-width: 16rem;

// Font

$f-size--xs: 0.5rem;
$f-size--s: 0.75rem;
$f-size--m: 1rem;
$f-size--l: 1.25rem;

$f-size--heading-xs: 1rem;
$f-size--heading-s: 1.5rem;
$f-size--heading-m: 2rem;
$f-size--heading-l: 2.5rem;

// Other

$shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
$transition-duration--main: 0.2s;
$transition-tfunc--main: ease;
