@use "@/styles/variables" as *;
@use "@/styles/colors" as *;

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.greetingBox {
  display: inline-flex;
  flex-direction: column;
  align-self: flex-start;
  margin-bottom: $gap--m;
}

.greeting {
  margin-bottom: $gap--xs;
  color: $color-main--muted;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  font-size: $f-size--s;
}

.name {
  font-weight: 700;
  font-size: $f-size--xl;
}
