@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;
@use "@/styles/colors" as *;

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.greetingBox {
  display: inline-flex;
  flex-direction: column;
  align-self: flex-start;
}

.greeting {
  margin-bottom: $gap--xs;
  color: $color-main--muted;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  font-size: $f-size--s;
}

.name {
  font-weight: 700;
  font-size: $f-size--xl;
}

.intro {
  margin: 0;
}

.heading2 {
  margin: 0;
  font-size: $f-size--heading-s;
}

.projectsSection {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: $gap--s;
  width: 100%;
  margin-top: $gap--m;

  @include for-tablet-down {
    grid-template-columns: 1fr;
  }
}

.projectsCarousel {
  grid-column: 1 / -1;

  @include for-tablet-down {
    grid-row: 2 / span 1;
  }
}

.allProjectsLink {
  text-decoration: none;
  color: $color-accent-500;
  font-size: $f-size--m;

  @include transition-main(color);

  &:hover {
    color: $color-accent-700;
  }
}
