.layout {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
