@use "@/styles/colors" as *;
@use "@/styles/variables" as *;

.label {
  display: inline-block;
  padding: $padding--xs;
  color: $color-main;
  font-size: $f-size--xs;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  border-radius: $corner-radius--xs;
  border-width: 1px;
  border-style: solid;
}
