@use "@/styles/mixins" as *;
@use "@/styles/z-index" as *;

.header {
}

.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: auto;
  margin-left: auto;

  @include for-tablet-down {
    display: none;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 320px;
  z-index: $z-index-mobile-menu;

  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  &.isOpen {
    transform: translateX(0);
  }

  @include for-desktop-up {
    display: none;
  }
}

.burger {
  position: absolute;
  right: 0;
  z-index: $z-index-burger;

  @include for-desktop-up {
    display: none;
  }
}
