@use "@/styles/mixins" as *;

.header {
}

.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  @include for-tablet-down {
    display: none;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 320px;

  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  &.isOpen {
    transform: translateX(0);
  }

  @include for-desktop-up {
    display: none;
  }
}

.burger {
  position: absolute;
  right: 0;

  @include for-desktop-up {
    display: none;
  }
}
