@use "@/styles/colors" as *;
@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap--s;
  font-size: 0.75rem;
  color: $color-main--muted;

  @include for-mobile-only {
    flex-direction: column;
  }
}

.copy {
  white-space: nowrap;
}
