@use "scss/css-variables";
@use "scss/general";

.app {
  height: 100vh;
}

.sections {
  position: relative;
  top: var(--height-topbar);
  width: 100%;
  height: calc(100vh - var(--height-topbar));
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: lightsalmon;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    width: 100vw;
    height: calc(100vh - var(--height-topbar));
    scroll-snap-align: start;
  }
}
