@use "css-variables" as *;

.app {
  height: 100vh;
}

.sections {
  width: 100%;
  height: calc(100vh - var(--height-topbar));
  background-color: lightsalmon;
  position: relative;
  top: var(--height-topbar);
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    width: 100vw;
    height: calc(100vh - var(--height-topbar));
    scroll-snap-align: start;
  }
}
