@use "@/styles/colors" as *;

:root {
  font-family: Raleway, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: $color-main;
  background-color: $color-main-bg;

  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}
